#index_body {
  background-color: #111212;
}

h3 {
  color: #dfe6e6;
  font-family: 'Roboto';
}

p {
  color: #dfe6e6;
  font-family: 'Open Sans';
}

#information2  {
  color: #dfe6e6;
  font-family: 'Open Sans';
  text-align: center;
}

a{
  color: black;
  font-family: 'Roboto';
}

b{
}
