body {
  background-color: black;
}

h3 {
  color: rgb(223, 230, 230);
  font-family: 'Roboto';
}

p {
  color: rgb(223, 230, 230);
  font-family: 'Open Sans';
}

#information2  {
  color: #dfe6e6;
  font-family: 'Open Sans';
  text-align: center;
}

a {
  color: rgb(223, 230, 230);
  font-family: 'Roboto';
}

b{
}
